@model IEnumerable<escuela.Models.Programa>

@{
    ViewBag.Title = "Index";
}

<h2>Programas instalados de Localhost</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Tama&ntilde;o estimado
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @(item.Tamanho / 1024) MB
        </td>
    </tr>
}

</table>
